<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Randomized TM Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>Here is Your Randomized Terra Mystica Game</h1>

<table>
    <tr>
        <td id='player'>Starting Order:</td>
        <td id="players">{{', '.join(game_dict['players'])}}</td>
    </tr>
    <tr>
        <td>Board Type: </td>
        <td>{{game_dict['board']}}</td>
    </tr>
    <tr>
        <td>Scoring Bonus:</td>
        <td>{{game_dict['scoring_bonus']}}</td>
    </tr>
    <tr>
        <td>Bonus Tiles:</td>
        <td style="white-space:pre">{{"\n".join(game_dict['bonus_tiles'])}}</td>
    </tr>
    <tr>
        <td>Round Bonuses:</td>
        <td>{% for round in game_dict['round_tiles'] %}Round {{round[0]}}: {{round[1]}}<br>{% endfor %}</td>
    </tr>

</table>
<div>
    <br>
        <form>
            <button class="button" type="submit" name="restart">Start Over</button>
            <button class="button" type="button" name="faction" id="faction">Draw Factions</button>
            <button class="button" type="button" style="display: none;" id="redraw">Redraw Factions</button>
        </form>
    <br>
    </div>
<table id="factions">

</table>



</body>
</html>
<script src="{{url_for('static', filename='faction.js')}}" type="text/javascript"></script>
